
  <% @article.images.each_with_index do |image, i| %>
    <div class="image_pho">
      <%= image_tag(image, class:"rounded mx-auto d-block img-fluid", width:"300px")  %>
      <%= link_to "削除", "", remote: true, class: "purge_btn" %>
    </div>
  <% end %>
<%# <%= link_to "削除", purge_article_url(image), method: :delete, remote: true, class: "purge_btn" %> %>
<%# <script>
  $('.purge_btn').on('click', function(e) {
    window.location.reload();
  });
</script> %>


