<h1>情報コーナー</h1>
<div>
  <%= link_to "新規投稿", new_article_path %>
</div>
<div>
  <% @articles.each do |article| %>
  <%= article.user.nickname %>
  <%= link_to article.title, article_path(:id) %>
  <%= article.content %>
  <% end %>
</div>