<h1>相談コーナー</h1>

<%= link_to  new_consultation_path, class:"purchase-btn", style:"color: white;" do %>
  <span>新規相談</span>
  <%= image_tag "article_icon.png", class:"article_icon" %>
<% end %>


<div class="d-flex p-2 bd-highlight justify-content-center ">
  <div class="card-deck">
    <div class="row ">
      <%= render partial: "shares/index_consultation" %>
    </div>
  </div>
</div>