<% if promotion.liked_by?(current_user) %>
  <p><span><%= link_to image_tag("good_black.png", class:"good"), promotion_promotion_like_path(promotion_id: @promotion.id, id: promotion.promotion_likes[0]), method: :delete, remote: true %>:<%= promotion.promotion_likes.count %></span></p>
<% else %>
  <p><span><%= link_to image_tag("good_white.png", class:"good"), promotion_promotion_likes_path(@promotion.id), method: :post, remote: true %>:<%= promotion.promotion_likes.count %></span></p>
<% end %>