// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body,html{
  height: 100vh;
  margin: 0;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.i {
  font-size: 150px;
  color: rgb(235, 18, 18);
  opacity: 0.5;
  font-family:"Yu Gothic";
}

.top-header {
  width: 100%;
  height: 100px;
}

.cent {
  display: flex;
}
// header
header {
  background-color: rgb(204, 247, 176);
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 3;
}

.masthead-brand {
  font-size: 50px;
  font-family: cursive;
}

.inner {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.masthead {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.masthead-brand {
  margin-bottom: 0;
  text-align: center;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(2, 2, 2, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(248, 6, 6, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(10, 10, 10);
  border-bottom-color: rgb(209, 20, 20);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

// ここまでheader
// side

.side-ber {
  width: 300px;
  background-color: azure;
  float: left;
  // position: fixed;
}

//side
// main
main {
  height: 100%;
  width: 70%;
  flex: 1;
}

.index-content {
  border-bottom: ridge;
}

.top-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.top-text {
  text-shadow : 0px 0px 2px #000000 ;
}

.ok {
  background-color: rgb(6, 247, 66);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  padding: 10px;
  position: relative;
}

.ng {
  background-color: rgb(255, 0, 0);
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  padding: 10px;
  position: relative;
}


.item-line {
  width: 100%;
  display: flex;
  justify-content: left;
  border-bottom: ridge;
  overflow: scroll;
  white-space: nowrap;
}

// mainここまで

// footer
footer {
  height: 50px;
  background-color: limegreen;
}